.nav__list {
    display: flex;
    gap: 45px;
    justify-content: center;
    align-items: center;
}

.nav-list__item {
    max-width: 181px;
    min-height: 70px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-list__item::before{
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 3px;
    height: 100%;
    background: var(--Primary);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-icon{
    position: absolute;
    z-index: -1;
    top: -2px;
    left: -10px;
    width: 181px;
    height: 30px;
    fill: #242425;
    transition: all 0.3s ease;
}

.nav-list-item__title{
    color: #FFF;
    font-family: var(--big-sholders-font);
    font-size: 1em;
    letter-spacing: 1.35px;
    text-transform: uppercase;
}

.nav-list-item__sub-title{
    max-width: 122px;
    color: #7A7A7A;
    font-family: var(--iceland-font);
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 0.525px;
    text-transform: uppercase;
    margin-top: 2px;
}

.nav-list__item:hover{
    transform: translateY(-10px);
}

.nav-list__item:hover .nav-icon{
    fill: var(--Primary);
}

.nav-list__item:hover.nav-list__item::before{
    opacity: 1;
}

.nav-list__link.active .nav-list__item{
    transform: translateY(-10px);
}

.nav-list__link.active .nav-icon{
    fill: var(--Primary);
}

.nav-list__link.active.nav-list__item::before{
    opacity: 1;
}