.main{
    margin-top: 32px;
    display: grid;
    grid-template-columns: 0.8fr 3fr 0.8fr;
    justify-content: center;
}

.profile__block{
    justify-self: center;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile__img-container {
    position: relative;
    min-height: 175px;
    z-index: 2;
    border-top-right-radius: none;
}

.profile-borders{
    z-index: 100;
    position: absolute;
    width: 8px;
    height: 8px;
}

.top-left{
    top: 0;
    left: 0;
}

.top-right{
    top: 0;
    right: 0;
    transform: rotate(90deg);
}

.bottom-left {
    bottom: 0;
    left: 0;
    transform: rotate(270deg);
}

.bottom-right {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

.img__profile {
    display: block;
    padding: 14px;
    width: 100%;
    height: 100%;
}


.profile__info-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 22px;
    min-width: 193px;
}

.profile__info-list li{
    min-width: 194px;
}

.info-list__item.focus > .info-item-li__body{
    background-image: url('../../../public/img/Subtract.png');
    color: #000003;
}

.info-item-li__head {
    color: #FFF;
    font-family: var(--iceland-font);
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1.05px;
    text-transform: uppercase;
}

.info-item-li__body {
    color: var(--Primary);
    font-family: var(--big-sholders-font);
    font-size: 1.2em;
    letter-spacing: 1.35px;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.info-list__item-withouthover .info-item-li__body{
    border: 1px solid var(--Primary);
    cursor: pointer;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.notes__title{
    color: var(--Primary);
    font-family: var(--iceland-font);
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 1.35px;
    text-transform: uppercase;
}

.notes__text{
    color: #B2B7BA;
    font-family: var(--iceland-font);
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.main-img__block {
    position: relative;
}

.main-img-block__item{
    object-fit: cover;
    object-position: center;
    margin-top: 50px;
}


.main-img__text{
    width: 680px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.main-img__text p {
    color: #FFF;
    font-family: var(--iceland-font);
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 1.35px;
    text-transform: uppercase;
    text-align: center;
}

p.signature{
    color: #ccc;
    font-size: 1.1em;
    letter-spacing: 1.05px;
    text-transform: uppercase;
    text-shadow: #000003;
}

.tabs__nav{
    display: flex;
    flex-direction: column;
    gap: 12px;
}



.btn__items{
    max-width: 193px;
   
}

.tabs-btn__title{
    color: #FFF;
    font-family: var(--big-sholders-font);
    font-size: 1.2em;
    letter-spacing: 1.35px;
    text-transform: uppercase;
    padding-left: 10px;
}

.tabs-btn__sub-title{
    color: #7A7A7A;
    font-family: var(--iceland-font);
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    background-color: rgba(232, 74, 74, 0.2);
    padding-left: 10px;
}

.tabs__nav-btn.active > .btn__items .tabs-btn__title{
    background: url('../../../public/img/Subtract.png');
}


.tabs__nav-btn.active > .btn__items{
    border-left: 3px solid var(--Primary);
}

.quest__title{
    color: #FFF;
    font-family: Iceland;
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 1.05px;
    text-transform: uppercase;
    padding-left: 10px;
    margin-top: 23px;
}

.quest__name{
    color: var(--Primary);
    font-family: var(--big-sholders-font);
    font-size: 1.2em;
    letter-spacing: 1.35px;
    text-transform: uppercase;
    padding-left: 10px;
    margin-top: 4px;
}

.quest__content{
    color: #7A7A7A;
    font-family: var(--iceland-font);
    font-size: 0.8em;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 10px;
    margin-top: 4px;
}

.rewards__list {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 10px;
    margin-top: 12px;
}

.rewards-list__item {
    width: 40px;
    height: 40px;
}

.score {
    color: #7A7A7A;
    font-family: var(--iceland-font);
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 1.05px;
    text-transform: uppercase;
}
